html, body {
    margin:0;
    padding:0;
    font-family:Arial;
}
body{
    background-color: #c5c1c2; 
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    min-height:100%;
    position: relative;
}

#header{
    background-color: #b63434;
    width: 100%;
    height: auto;
    position:fixed;
    border-bottom: 1px solid #982c2c;
    border-top: 1px solid #982c2c;
}
#footer{
    width:100%;
    height: 10%;
    background-color: #b63434;
    bottom: 0;
    position: relative;
    color:white;
    border-top: 1px solid #982c2c;

}
#container{
    width: 60%;
    height:100%;
    background-color: #201f24;
    margin-left: auto;
    margin-right: auto;
    border:none;
    padding-top: 50px;
    padding-bottom:5px;
}
a.button{
    background-color:rgba(0, 0, 0, 0.00);
    color:#fff;
    margin:0 auto;
    display:inline-block;
    padding-bottom:15px;
    padding-top:15px;
    font-family: Arial;
    width: 120px;
    text-align:center;
    

}

.button:hover {
     background: #201f24;
     
      
}
a {
    text-decoration: none;
}
#csLogo{
    width:20%;
    margin-right:40%;
    margin-left:40%;
    
}
#footertext{
    color: white;
    text-align:center;
    font-family: Arial;
}
.contant {
    color:white;
    width: 80%;
    background: #b63434;
    margin-left: 10%;
    
}
.contant{
    
}

.contant h2{
    text-align: center;
    padding-top: 1em;
    margin-top: 1%;
    
}
button{
    width: 50%;
    border:none;
    background:#982c2c;
    height:50px;
    margin-left: 25%;
    font-size:16px;
    color: white;
    margin-bottom:5%;
}
button:hover{
    background:#201f24;
}
input[type=password], input[type=email], input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}
#wrapper {
    color: white;
    width: 80%;
    background: #b63434;
    margin-left: 10%;
}
